.checked {
    color: orange;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

#btn
{
    position: relative;
    top:-12px;
    left:30px;
    height: 40px;
    background-color: black;
}
#btn:hover
{
    background-color: #f9aa33;
    color: black;
}

#btnText
{
    text-align: center;
}