  .stars input{
    display: none; 
    
  }


  .stars label{
    float:right;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
    cursor: pointer;
    
  }
  .stars label:before{
    content: '★';
  }

  .stars input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .stars:not(:checked) > label:hover,
  .stars:not(:checked) > label:hover ~ label{
    color: gold;
  }