@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin : 0px;
    padding: 0px;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #212121;
    line-height: 75px;
    font-family:'Poppins',sans-serif;
    margin-top: -18px;

}
nav .logo 
{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p a
{
    float: left;
    color: white;
    padding-left: 45px;
    text-decoration: none;
    
}
nav ul{
    float: right;
    padding-right: 100px;
}
nav ul li{
    display:inline-block;
    list-style: none;
}
nav ul li p {
    color: white;
    display:inline-block;
    list-style: none;
}
nav ul li .name1 {
    left: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    padding: 8px 28px;
    border-radius: 10px;
}
nav ul li a:hover
{
    color: black;
    background-color: white;
    transition: 0.5s;
    
}
.banner h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: rgb(3, 0, 0);
    padding-top: 110px; 
    letter-spacing: 3px;
    text-shadow: 0 0 30px rgba(241, 9, 9, 0.5);
}
.opacit
{
    font-size: 50px;
    color: rgb(3, 0, 0);
    letter-spacing: 3px;
    text-shadow: 0 0 30px rgba(241, 9, 9, 0.5);
    padding-top: 50px;
    padding-bottom: 100px;
    opacity: 0.3;
    text-align: center;
}
.cnt
{
    font-size: 50px;
    color: rgb(3, 0, 0);
    letter-spacing: 3px;
    text-shadow: 0 0 30px rgba(241, 9, 9, 0.5);
    padding-top: 40px;
    text-align: center;
}
.sub
{
    
    padding-left: 40px;
}
.sub1
{
    color: 178EFC;
    padding-left: 120px;
}
.about 
{
    display: inline-block;
    width:100%;
    padding: 78px 0px;
    color: white;
    background-color: #212121;
    font-size: 18px;
}
.about p
{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.btn1 
{
    background-image: linear-gradient(to right,#080808,#e92b2b);
    padding-top: 10px;
    margin: 2%;
}
.search-job .btn:hover
{
    background-color:black;
    color: white;
}
.container1
{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;

}
.container1 .title
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #222;
    letter-spacing: 1.5px;
    padding:50px 0px;
    font-family:'Poppins',sans-serif ;
}
.container1 .title h1::after{
    content: "";
    height: 6px;
    width: 180px;
    background-color: #222;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;

}
.content1
{
    width:85%;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-gap:40px;
    margin: 30px auto;

}
.content1 .article
{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #eee;
    padding:25px 25px;

}
.content1 .article p{
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: #222;
}
.content1 .article a{
    text-decoration:  none;
    font-size: 22px;
    display: inline-block;
    padding:12px 35px;
    background-color: #cc0000;
    border-radius: 25px;
    color:#fff;
    border: 1px solid #cc0000;
     letter-spacing: 1.5px;
     margin-top: 35px;
}
.content1 .article a:hover{
    background-color: #fff;
    color:#cc0000;
    transition: 0.2s ease;

}
.image-section
{
    width: 100%;
    margin :auto;

}
.image-section img{
    width: 100%;
    height: auto;
} 
.contact
{
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:50px 100px;
    background-size: cover;
    background-color: #ddd;
    width: 100%;
}
.contact .content2
{
    max-width:800px;
    text-align: center;
}
.contact .content2 h2{
   font-size: 36px;
   font-weight: 500;
   color: #222;
    border-radius: 6px;
    font-family:'Poppins',sans-serif ;
}
.contact .content2 p
{
    font-weight: 300;
    color:#fff;
}
.container2
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container2 .contactinfo
{
   width: 50%;
   display: flex; 
   flex-direction: column;
}
.container2 .contactinfo .box1
{
    position: relative;
    padding : 20px 0;
    display: flex;

}
.container2 .contactinfo .box1 .icon1
{
    min-width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container2 .contactinfo .box1 .icon1 .text1
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container2 .contactinfo .box1 .icon1 .text1 h3{
    font-weight:500;
    color: #00bcd4;

}
.contact-form
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .inputBox input,
.contact-form .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .textarea input:focus ~ span,
.contact-form .textarea input:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .inputBox input[type="submit"]
{
    text-align: center;
    width: 75px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    display: inline-flex;
    background-color: #f9aa33;
    color: black;
    font-weight: 590;
    transition: color 0.5s;
}
.contact-form .inputBox input[type="value"]
{
    text-align: center;
}
.contact-form .inputBox input[type="submit"]:hover
{
    background-color:black;
    color: white;
}
nav .name2
{
    position: absolute;
    left: 1255px;
    font-family:'Poppins',sans-serif;
    color: white;
}