{% extends 'job/base.html' %}
{% load static %}
{%block title%} Home {%endblock title %}
{% block content %}
<div class="banner">
<h1><center>Find your job on our website</center></h1>
</div>
<br>
<br>
<form method="get" action="search">
    {% csrf_token %}
<div class="search-job text-center">
    <input type ="text" class="form-control" name="title" placeholder="Python Developer">
    <input type ="text" class="form-control" name="job_location" placeholder="Pune">    
    <input type="Submit" class="btn btn-primary " value="submit">
</div>
</form>
<br>
{% endblock content %}
