{% extends 'job/base.html'%}
{%block navbar%}
<div class="navbar">
	<nav>
	<div class="logo">
		<p> Job Portal </P>
	</div>
	<ul>
		<li><a href ="" >Job listing</a> </li>
		<li><a href ="" >user login</a></li>
		<li><a href ="" >recruiter login</a></li>
		<li><a href ="" >About</a></li>
		<li><a href ="" >contact</a></li>
	</ul>
	</nav>
	</div>
{% endblock navbar%}

<footer>
<div class="footer-content">
	<h3> Job Portal </h3>
	<p> complete job portal website. Employer can post job and check resume.Employee can apply for job/style.cssPowerful account interface.
	followd latest designes
	</p>
	<ul class="socials">
	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 jobportal. designed by <span>jayu</span></p>
        </div>
    </footer>