{% extends 'job/recruiter_navigation.html' %}
{% load static %}
{% block title %} Notification {% endblock title %}
{% block content %}
<div class="notification">
    <br>
    <h2><center>Candidates who Worked Here</center></h2>
    <div class="not_box">
        <table class="table table-hover" id="example" >
            <thead>
            <tr style="text-align:center;">
                <th>S.No.</th>
                <th>Candidate Name</th>
                <th>Review</th>
            </tr>
            </thead>
            
                <tbody>
                    {% for i in jobseeker %}
                        <tr style="background-color:#485461;text-align:center;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.user.first_name}}  {{ i.user.last_name}}</td>
                            {% if i.id in li %}
                            <td style="text-align:center;">rated</td>
                            {% else %}

                             <td style="text-align:center;"><a href="{% url 'user_detail' i.id %}" class="btn btn-success btn-sm">Review</a></td>
                            {%endif%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
</div>
{% endblock content %}