{% extends 'job/recruiter_navigation.html' %}
{% load static %}
{% block title %} Notification {% endblock title %}
{% block content %}
<div class="notification">
    <br>
    <h2><center>Candidates who Worked Here</center></h2>
    <div class="not_box">
        <table class="table table-hover" id="example" >
            <thead>
            <tr style="text-align:center;">
                <th>S.No.</th>
                <th>Candidate Name</th>
                <th>Review</th>
            </tr>
            </thead>
            
                <tbody>
                    {% for i in jobseeker %}
                        <tr style="background-color:#485461;text-align:center;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.user.first_name}}  {{ i.user.last_name}}</td>
                            <td><div class="center">
                                <div class="stars">
                                  <input type="radio" id="five" name="rate" value="5">
                                  <label for="five"></label>
                                  <input type="radio" id="four" name="rate" value="4">
                                  <label for="four"></label>
                                  <input type="radio" id="three" name="rate" value="3">
                                  <label for="three"></label>
                                  <input type="radio" id="two" name="rate" value="2">
                                  <label for="two"></label>
                                  <input type="radio" id="one" name="rate" value="1">
                                  <label for="one"></label>
                                  <span class="result"></span>
                                </div>
                                 </div></td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
</div>
{% endblock content %}