{% extends 'job/recruiter_navigation.html' %}
{% load static %}
{% block title %} About Us  {% endblock title %}
{% block content %}
<div class="container1">
  <div class="title">
  <h1> About Us </h1>
  </div>
  <div class="content1">
    <div class="article">
      <p> jobportal.com is the most innovative and second largest online job portal in India. Founded in 2008, over the past decade, jobportal.com has become a prominent name in the recruitment industry. The popularity of the portal is evident from the fact that it has crossed the 3.4 crore candidate landmark and has more than 3 lakh latest job vacancies from leading companies on the site.
jobportal.com connects jobseekers and recruiters by accurately matching candidate profiles to the relevant job openings through an advanced 2-way matching technology. 
</p>
 <a href="" class="button">Read More </a>
 </div>
 <div class="image-section">
  <img src="{% static 'job/images/abt.jpg'%}">
  </div>
</div>
</div>





{% endblock content %}