{% extends 'job/base.html' %}
{% load static %}
{% block title %} Recruiter Login {% endblock title %}
{% block content %}
<div class="loginbg">
<div class="login-box">
      <h1>Login</h1>
      <form method="post">
      {% csrf_token %}
        <label>Email</label>
        <input type="email" placeholder="" name="uname" />
        <label>Password</label>
        <input type="password" placeholder="" name="pwd"/>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="para-signup">
    <p class="para-2">
      Not have an account? <a href="{% url 'signup_recruiter' %}">Sign Up Here</a>
    </p>
    </div>
    </div>

  {% ifequal error "no" %}
    <script>
    alert("Login successfully");
    window.location = ('{% url 'recruiter_home' %}');
    </script>
    {%endifequal%}

    {% ifequal error "yes" %}
    <script>
    alert("Invalid Login credential");
    </script>
    {%endifequal%}

{%endblock content%}
