{% extends 'job/base.html' %}
{% load static %}
{% block title %} User Signup{% endblock title %}
{% block content %}
<script>
function checkpass()
{
  if(document.signup.pwd1.value!=document.signup.pwd2.value)
  {
    alert('password and confirm password doesnot match');
    document.signup.pwd2.focus();
    return false;
  }
  return true;
  
}
function exp(){
  document.getElementById("exp").style.visibility="visible";
    }
    function fresher(){
        document.getElementById("exp").style.visibility="hidden";
    }
</script>
<div class="bg1">
<div class="signup-box">
      <h1>Sign Up</h1>
      <form method="post" name="signup"  onsubmit="return checkpass()">
      {% csrf_token %}
        <label>First Name</label>
        <input type="text" placeholder="" name="fname" />
        <label>Last Name</label>
        <input type="text" placeholder="" name="lname" required/>
        <label>Email</label>
        <input type="email" placeholder="" name="email"/>
        <label>Contact</label>
        <input type="text" placeholder="" name="cont"/>
        <label>Gender</label>
          <select name="gender" >
               <option value="male">Male</option>
              <option value="female">Female</option>
          </select>
          <div id="exp">
              <label> Experience (in Company) (optional) </label>
              <input type="text" placeholder="" name="expc"/>
              <label> Experience (in Year) (optional) </label>
              <input type="text" placeholder="" name="expy"/>
          </div>
        <label>Password</label>
        <input type="password" placeholder="" name="pwd1" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
        <label>Confirm Password</label>
        <input type="password" placeholder="" name="pwd2"/>
        <input type="submit" value="Submit" />
      </form>
      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
    </div>
    <div class="para-signup">
    <p class="para-2">
    Already have an account? <a href=" {% url 'user_login'%} ">Login here</a>
    </p></div>
    </div>
    {% ifequal error "no" %}
    <script>
    alert("signup successfully");
    window.location = ('{% url 'user_login' %}')
    </script>
    {%endifequal%}

    {% ifequal error "yes" %}
    <script>
    alert("Something went wrong");
    </script>
    {%endifequal%}
{%endblock content%}

